@import "tailwindcss";

@theme {
    --dark-mode: class;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}

.bakery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(331px, 1fr));
}

.bg-opacity-60 {
    background-color: rgba(0, 0, 0, 0.6);
}